# Calculating EMDs based on motifs

## Getting files

In [3]:
from motifs.config import PKG_DATA_PATH
import os

In [7]:
import pandas as pd

In [2]:
# delete
PKG_DATA_PATH

WindowsPath('c:/Users/Thinkpad/Documents/GitHub/VictorIA-Hugo/src/motifs_space/motifs/data')

In [6]:
# ['hugo2neu2hugo']

path_hnh = PKG_DATA_PATH.joinpath("hugo2neu2hugo_merged/tokens")
files_hnh = [f for f in os.listdir(path_hnh) if os.path.isfile(os.path.join(path_hnh, f))]

# Print the list of files
print("Files in the directory:")
for file in files_hnh:
    print(file)

Files in the directory:
hugo2neutral_para__merged.csv
hugo_para__merged.csv
neutral2hugo_para__merged.csv

In [9]:
hugo_para = pd.read_csv(f"{path_hnh}/hugo_para__merged.csv")
hugo2neutral_para = pd.read_csv(f"{path_hnh}/hugo2neutral_para__merged.csv")
neutral2hugo_para = pd.read_csv(f"{path_hnh}/neutral2hugo_para__merged.csv")

In [10]:
hugo_para.head()

,text,lemma,pos,morph,dep,n_lefts,n_rights,is_sent_start,motif,sent_id,doc
0,Habitué,Habituer,VERB,Gender=Masc|Number=Sing|Tense=Past|VerbForm=Part,advcl,0,2,True,PPAS,0,hugo_para__merged
1,à,à,ADP,NaN,case,0,0,False,à,0,hugo_para__merged
2,les,le,DET,Definite=Def|Gender=Fem|Number=Plur|PronType=Art,det,0,0,False,le,0,hugo_para__merged
3,absences,absence,NOUN,Gender=Fem|Number=Plur,obl:arg,2,0,False,NC,0,hugo_para__merged
4,",",",",PUNCT,NaN,punct,0,0,False,",",0,hugo_para__merged

In [36]:
dfs = []

for file in files_hnh:
    s = str(path_hnh) + '\\' + file
    df = pd.read_csv(s)
    dfs.append(df)

# Concatenate all DataFrames into a single DataFrame
data_hnh = pd.concat(dfs, ignore_index=True)

# Display the result
data_hnh['author'] = data_hnh['doc'].str.split('_para').str[0]
data_hnh.head()

,text,lemma,pos,morph,dep,n_lefts,n_rights,is_sent_start,motif,sent_id,doc,author
0,Le,le,DET,Definite=Def|Gender=Masc|Number=Sing|PronType=Art,det,0,0,True,le,0,hugo2neutral_para__merged,hugo2neutral
1,devoir,devoir,NOUN,Gender=Masc|Number=Sing,nsubj,1,0,False,NC,0,hugo2neutral_para__merged,hugo2neutral
2,était,être,VERB,Mood=Ind|Number=Sing|Person=3|Tense=Imp|VerbFo...,ROOT,1,2,False,être,0,hugo2neutral_para__merged,hugo2neutral
3,de,de,ADP,NaN,mark,0,0,False,de,0,hugo2neutral_para__merged,hugo2neutral
4,nuire,nuire,VERB,VerbForm=Inf,ccomp,1,2,False,INF,0,hugo2neutral_para__merged,hugo2neutral

In [43]:
data_hnh.author.unique()

array(['hugo2neutral', 'hugo', 'neutral2hugo'], dtype=object)

### Others files

In [12]:
path_o2h = PKG_DATA_PATH.joinpath("others2hugo/tokens")
files_o2h = [f for f in os.listdir(path_o2h) if os.path.isfile(os.path.join(path_o2h, f))]

# Print the list of files
print("Files in the directory:")
for file in files_o2h:
    print(file)

Files in the directory:
colette2hugo_para_27.csv
colette2hugo_para_28.csv
colette2hugo_para_29.csv
colette2hugo_para_30.csv
colette2hugo_para_31.csv
colette2hugo_para_32.csv
colette_para_27.csv
colette_para_28.csv
colette_para_29.csv
colette_para_30.csv
colette_para_31.csv
colette_para_32.csv
daudet2hugo_para_10.csv
daudet2hugo_para_11.csv
daudet2hugo_para_12.csv
daudet2hugo_para_13.csv
daudet2hugo_para_40.csv
daudet2hugo_para_8.csv
daudet2hugo_para_9.csv
daudet_para_10.csv
daudet_para_11.csv
daudet_para_12.csv
daudet_para_13.csv
daudet_para_40.csv
daudet_para_8.csv
daudet_para_9.csv
dumas2hugo_para_1.csv
dumas2hugo_para_2.csv
dumas2hugo_para_3.csv
dumas2hugo_para_4.csv
dumas2hugo_para_5.csv
dumas2hugo_para_6.csv
dumas2hugo_para_7.csv
dumas_para_1.csv
dumas_para_2.csv
dumas_para_3.csv
dumas_para_4.csv
dumas_para_5.csv
dumas_para_6.csv
dumas_para_7.csv
maupassant2hugo_para_21.csv
maupassant2hugo_para_22.csv
maupassant2hugo_para_23.csv
maupassant2hugo_para_24.csv
maupassant2hugo_para_25.csv
maupassant2hugo_para_26.csv
maupassant_para_21.csv
maupassant_para_22.csv
maupassant_para_23.csv
maupassant_para_24.csv
maupassant_para_25.csv
maupassant_para_26.csv
verne2hugo_para_33.csv
verne2hugo_para_34.csv
verne2hugo_para_35.csv
verne2hugo_para_36.csv
verne2hugo_para_37.csv
verne2hugo_para_38.csv
verne2hugo_para_39.csv
verne_para_33.csv
verne_para_34.csv
verne_para_35.csv
verne_para_36.csv
verne_para_37.csv
verne_para_38.csv
verne_para_39.csv
zola2hugo_para_14.csv
zola2hugo_para_15.csv
zola2hugo_para_16.csv
zola2hugo_para_17.csv
zola2hugo_para_18.csv
zola2hugo_para_19.csv
zola2hugo_para_20.csv
zola_para_14.csv
zola_para_15.csv
zola_para_16.csv
zola_para_17.csv
zola_para_18.csv

In [15]:
dfs = []

for file in files_o2h:
    s = str(path_o2h) + '\\' + file
    df = pd.read_csv(s)
    dfs.append(df)

# Concatenate all DataFrames into a single DataFrame
data_a = pd.concat(dfs, ignore_index=True)

# Display the result
data_a

,text,lemma,pos,morph,dep,n_lefts,n_rights,is_sent_start,motif,sent_id,doc
0,Ainsi,ainsi,ADV,NaN,advmod,0,1,True,ainsi,0,colette2hugo_para_27
1,",",",",PUNCT,NaN,punct,0,0,False,",",0,colette2hugo_para_27
2,Chéri,Chéri,PROPN,NaN,nsubj,0,0,False,PROPN,0,colette2hugo_para_27
3,connut,connaître,VERB,Mood=Ind|Number=Sing|Person=3|Tense=Past|VerbF...,ROOT,2,3,False,VPS,0,colette2hugo_para_27
4,dès,dès,ADP,NaN,case,0,0,False,dès,0,colette2hugo_para_27
...,...,...,...,...,...,...,...,...,...,...,...
13843,de,de,ADP,NaN,case,0,0,False,de,3,zola_para_18
13844,toiles,toile,NOUN,Gender=Fem|Number=Plur,nmod,1,1,False,NC,3,zola_para_18
13845,jetées,jeter,VERB,Gender=Fem|Number=Plur|Tense=Past|VerbForm=Part,acl,0,1,False,PPAS,3,zola_para_18
13846,pêle-mêle,pêle-mêl,NOUN,Gender=Fem|Number=Sing,xcomp,0,0,False,NC,3,zola_para_18
13847,.,.,PUNCT,NaN,punct,0,0,False,.,3,zola_para_18

In [16]:
data_a['author'] = data_a['doc'].str.split('_para').str[0]
data_a.head()

,text,lemma,pos,morph,dep,n_lefts,n_rights,is_sent_start,motif,sent_id,doc,author
0,Ainsi,ainsi,ADV,NaN,advmod,0,1,True,ainsi,0,colette2hugo_para_27,colette2hugo
1,",",",",PUNCT,NaN,punct,0,0,False,",",0,colette2hugo_para_27,colette2hugo
2,Chéri,Chéri,PROPN,NaN,nsubj,0,0,False,PROPN,0,colette2hugo_para_27,colette2hugo
3,connut,connaître,VERB,Mood=Ind|Number=Sing|Person=3|Tense=Past|VerbF...,ROOT,2,3,False,VPS,0,colette2hugo_para_27,colette2hugo
4,dès,dès,ADP,NaN,case,0,0,False,dès,0,colette2hugo_para_27,colette2hugo

## EMD

In [30]:
from typing import List
from scipy.optimize import linear_sum_assignment
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import pairwise_distances
import pandas as pd

def emd_score_from_motifs(data1: pd.DataFrame, data2: pd.DataFrame, group_col: str, motif_col: str) -> float:
    """
    Calculate the Earth Mover's Distance (EMD) between the motif distributions
    of two datasets grouped by a common identifier.

    :param data1: First dataset as a DataFrame.
    :param data2: Second dataset as a DataFrame.
    :param group_col: Column name to group by (e.g., 'doc').
    :param motif_col: Column name containing motifs (e.g., 'motif').
    :return: EMD score (approximate).
    """
    # Combine motifs into single "documents" grouped by the group column
    references = data1.groupby(group_col)[motif_col].apply(lambda x: ' '.join(x)).tolist()
    hypotheses = data2.groupby(group_col)[motif_col].apply(lambda x: ' '.join(x)).tolist()

    # Vectorize motifs using TF-IDF to create multidimensional embeddings
    vectorizer = TfidfVectorizer()
    ref_vectors = vectorizer.fit_transform(references).toarray()
    hyp_vectors = vectorizer.transform(hypotheses).toarray()

    # Compute the pairwise Euclidean distance matrix between distributions
    distance_matrix = pairwise_distances(ref_vectors, hyp_vectors, metric='euclidean')

    # Use the linear sum assignment to find the minimum cost matching
    row_ind, col_ind = linear_sum_assignment(distance_matrix)

    # Calculate EMD as the average minimum cost based on optimal assignment
    emd_distance = distance_matrix[row_ind, col_ind].sum() / len(row_ind)

    return emd_distance

# Example usage
emd_distance = emd_score_from_motifs(data_a[data_a['author'] == "zola"], data_a[data_a['author'] == "zola2hugo"], group_col="author", motif_col="motif")
print(f"Earth Mover's Distance: {emd_distance}")

Earth Mover's Distance: 0.09958496652441781

In [22]:
data_a.groupby('author')['motif'].apply(lambda x: ' '.join(x))

author
colette            PROPN VPS ADV ADJ le NCABS de un NC PPAS . il ...
colette2hugo       ainsi , PROPN VPS dès son NUM NC ADJ le NCABS ...
daudet             mais ce être ADJ le NC ainsi . le NC PPAS de l...
daudet2hugo        mais ainsi PRES le NC ADJ , ADJ , qui chaque N...
dumas              cependant , tout PPAS que il se VIMP , il PRES...
dumas2hugo         cependant , tout PPAS que il être en ce ADJ NC...
maupassant         PPAS dans son NC entre le NC ADJ , il VIMP . c...
maupassant2hugo    PPAS dans son NC , il VIMP . un ADJ NC avoir A...
verne              quoique il en être , on ne VIMP encore se INF ...
verne2hugo         bien que le NC ADJ de le NC être ADJ , son NC ...
zola               PROPN , qui VIMP ADJ sur le NC , avoir un NC A...
zola2hugo          PROPN , PPAS de plus en plus PPAS dans le mili...
Name: motif, dtype: object

### EMD Hugo vs Neutral Hugo vs Restored

In [45]:
from typing import List
from scipy.optimize import linear_sum_assignment
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import pairwise_distances
import pandas as pd

def emd_score_from_motifs(data1: pd.DataFrame, data2: pd.DataFrame, group_col: str, motif_col: str) -> float:
    """
    Calculate the Earth Mover's Distance (EMD) between the motif distributions
    of two datasets grouped by a common identifier.

    :param data1: First dataset as a DataFrame.
    :param data2: Second dataset as a DataFrame.
    :param group_col: Column name to group by (e.g., 'doc').
    :param motif_col: Column name containing motifs (e.g., 'motif').
    :return: EMD score (approximate).
    """
    # Combine motifs into single "documents" grouped by the group column
    references = data1.groupby(group_col)[motif_col].apply(lambda x: ' '.join(x)).tolist()
    hypotheses = data2.groupby(group_col)[motif_col].apply(lambda x: ' '.join(x)).tolist()
    # references = data1[motif_col].apply(lambda x: ' '.join(x)).tolist()
    # hypotheses = data2[motif_col].apply(lambda x: ' '.join(x)).tolist()

    # Vectorize motifs using TF-IDF to create multidimensional embeddings
    vectorizer = TfidfVectorizer()
    ref_vectors = vectorizer.fit_transform(references).toarray()
    hyp_vectors = vectorizer.transform(hypotheses).toarray()

    # Compute the pairwise Euclidean distance matrix between distributions
    distance_matrix = pairwise_distances(ref_vectors, hyp_vectors, metric='euclidean')

    # Use the linear sum assignment to find the minimum cost matching
    row_ind, col_ind = linear_sum_assignment(distance_matrix)

    # Calculate EMD as the average minimum cost based on optimal assignment
    emd_distance = distance_matrix[row_ind, col_ind].sum() / len(row_ind)

    return emd_distance

# Example usage
emd_distance_hVhn = emd_score_from_motifs(data_hnh[data_hnh['author'] == "hugo"], data_hnh[data_hnh['author'] == "hugo2neutral"], group_col="author", motif_col="motif")
print(f"Earth Mover's Distance Hugo vs Neutral: {emd_distance_hVhn}")

Earth Mover's Distance Hugo vs Neutral: 0.0880063559708214

In [47]:
emd_distance_hVnh = emd_score_from_motifs(data_hnh[data_hnh['author'] == "hugo"], data_hnh[data_hnh['author'] == "neutral2hugo"], group_col="author", motif_col="motif")
print(f"Earth Mover's Distance Hugo vs Restored: {emd_distance_hVnh}")

Earth Mover's Distance Hugo vs Restored: 0.13985570588251903

### EMD Others vs Other2Hugo

In [26]:
from typing import List
from scipy.optimize import linear_sum_assignment
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import pairwise_distances
import pandas as pd

def emd_score_from_motifs(data1: pd.DataFrame, data2: pd.DataFrame, group_col: str, motif_col: str) -> float:
    """
    Calculate the Earth Mover's Distance (EMD) between the motif distributions
    of two datasets grouped by a common identifier.

    :param data1: First dataset as a DataFrame.
    :param data2: Second dataset as a DataFrame.
    :param group_col: Column name to group by (e.g., 'doc').
    :param motif_col: Column name containing motifs (e.g., 'motif').
    :return: EMD score (approximate).
    """
    # Combine motifs into single "documents" grouped by the group column
    references = data1.groupby(group_col)[motif_col].apply(lambda x: ' '.join(x)).tolist()
    hypotheses = data2.groupby(group_col)[motif_col].apply(lambda x: ' '.join(x)).tolist()
    # references = data1[motif_col].apply(lambda x: ' '.join(x)).tolist()
    # hypotheses = data2[motif_col].apply(lambda x: ' '.join(x)).tolist()

    # Vectorize motifs using TF-IDF to create multidimensional embeddings
    vectorizer = TfidfVectorizer()
    ref_vectors = vectorizer.fit_transform(references).toarray()
    hyp_vectors = vectorizer.transform(hypotheses).toarray()

    # Compute the pairwise Euclidean distance matrix between distributions
    distance_matrix = pairwise_distances(ref_vectors, hyp_vectors, metric='euclidean')

    # Use the linear sum assignment to find the minimum cost matching
    row_ind, col_ind = linear_sum_assignment(distance_matrix)

    # Calculate EMD as the average minimum cost based on optimal assignment
    emd_distance = distance_matrix[row_ind, col_ind].sum() / len(row_ind)

    return emd_distance

# Example usage
# emd_distance = emd_score_from_motifs(data_a[data_a['author'] == "zola"], data_a[data_a['author'] == "zola2hugo"], group_col="author", motif_col="motif")
# print(f"Earth Mover's Distance: {emd_distance}")

In [19]:
def compute_emd_table(data: pd.DataFrame, author_col: str, motif_col: str) -> pd.DataFrame:
    """
    Compute EMD distances for all pairs `{name}` and `{name}2hugo` in the author column.
    
    :param data: Input DataFrame containing authors and motifs.
    :param author_col: Column name for authors.
    :param motif_col: Column name for motifs.
    :return: DataFrame with pairs and their corresponding EMD scores.
    """
    # Extract unique base names for pairs
    base_names = ['colette', 'daudet', 'dumas', 'maupassant', 'verne', 'zola']
    
    # Initialize a list to store results
    results = []
    
    # Iterate over base names and compute EMD for each pair
    for base_name in base_names:
        author1 = base_name
        author2 = f"{base_name}2hugo"
        
        if author1 in data[author_col].values and author2 in data[author_col].values:
            # Filter data for the two authors
            data1 = data[data[author_col] == author1]
            data2 = data[data[author_col] == author2]
            
            # Compute EMD
            emd_score = emd_score_from_motifs(data1, data2, group_col=author_col, motif_col=motif_col)
            
            # Append result
            results.append({'Pair': f"{author1} vs {author2}", 'EMD Score': emd_score})
    
    # Create a DataFrame from results
    emd_table = pd.DataFrame(results)
    return emd_table

# Example usage
emd_table = compute_emd_table(data_a, author_col="author", motif_col="motif")
print(emd_table)

                            Pair  EMD Score
0        colette vs colette2hugo   0.175011
1          daudet vs daudet2hugo   0.173188
2            dumas vs dumas2hugo   0.184687
3  maupassant vs maupassant2hugo   0.139839
4            verne vs verne2hugo   0.115854
5              zola vs zola2hugo   0.099585

In [38]:
def emd_score_from_motifs_2(data1: pd.DataFrame, data2: pd.DataFrame, group_col: str, motif_col: str) -> float:
    """
    Calculate the Earth Mover's Distance (EMD) between the motif distributions
    of two datasets grouped by a common identifier.

    :param data1: First dataset as a DataFrame.
    :param data2: Second dataset as a DataFrame.
    :param group_col: Column name to group by (e.g., 'doc').
    :param motif_col: Column name containing motifs (e.g., 'motif').
    :return: EMD score (approximate).
    """
    # Combine motifs into single "documents" grouped by the group column
    references = data1.groupby("doc")[motif_col].apply(lambda x: ' '.join(x)).tolist()
    hypotheses = data2.groupby("author")[motif_col].apply(lambda x: ' '.join(x)).tolist()
    # references = data1[motif_col].apply(lambda x: ' '.join(x)).tolist()
    # hypotheses = data2[motif_col].apply(lambda x: ' '.join(x)).tolist()

    # Vectorize motifs using TF-IDF to create multidimensional embeddings
    vectorizer = TfidfVectorizer()
    ref_vectors = vectorizer.fit_transform(references).toarray()
    hyp_vectors = vectorizer.transform(hypotheses).toarray()

    # Compute the pairwise Euclidean distance matrix between distributions
    distance_matrix = pairwise_distances(ref_vectors, hyp_vectors, metric='euclidean')

    # Use the linear sum assignment to find the minimum cost matching
    row_ind, col_ind = linear_sum_assignment(distance_matrix)

    # Calculate EMD as the average minimum cost based on optimal assignment
    emd_distance = distance_matrix[row_ind, col_ind].sum() / len(row_ind)

    return emd_distance


def compute_emd_table_Hugo(data: pd.DataFrame, data_2: pd.DataFrame, motif_col: str) -> pd.DataFrame:
    """
    Compute EMD distances for all pairs `{name}` and `{name}2hugo` in the author column.
    
    :param data: Input DataFrame containing authors and motifs.
    :param author_col: Column name for authors.
    :param motif_col: Column name for motifs.
    :return: DataFrame with pairs and their corresponding EMD scores.
    """
    # Extract unique base names for pairs
    base_names = ['colette', 'daudet', 'dumas', 'maupassant', 'verne', 'zola']
    
    # Initialize a list to store results
    results = []
    
    # Iterate over base names and compute EMD for each pair
    for base_name in base_names:
        author1 = base_name
        author2 = "Hugo"
        
        if author1 in data['author'].values:
            # Filter data for the two authors
            data1 = data[data['author'] == author1]
            data2 = hugo_para
            
            # Compute EMD
            emd_score = emd_score_from_motifs_2(data2, data1, group_col='author', motif_col=motif_col)
            
            # Append result
            results.append({'Pair': f"{author2} vs {author1}", 'EMD Score': emd_score})
    
    # Create a DataFrame from results
    emd_table = pd.DataFrame(results)
    return emd_table

# Example usage
emd_table_hVo = compute_emd_table_Hugo(data_a, hugo_para, motif_col="motif")
print(emd_table_hVo)

                 Pair  EMD Score
0     Hugo vs colette   0.199654
1      Hugo vs daudet   0.169967
2       Hugo vs dumas   0.178175
3  Hugo vs maupassant   0.208862
4       Hugo vs verne   0.168215
5        Hugo vs zola   0.188561

In [40]:
def emd_score_from_motifs_2(data1: pd.DataFrame, data2: pd.DataFrame, group_col: str, motif_col: str) -> float:
    """
    Calculate the Earth Mover's Distance (EMD) between the motif distributions
    of two datasets grouped by a common identifier.

    :param data1: First dataset as a DataFrame.
    :param data2: Second dataset as a DataFrame.
    :param group_col: Column name to group by (e.g., 'doc').
    :param motif_col: Column name containing motifs (e.g., 'motif').
    :return: EMD score (approximate).
    """
    # Combine motifs into single "documents" grouped by the group column
    references = data1.groupby("doc")[motif_col].apply(lambda x: ' '.join(x)).tolist()
    hypotheses = data2.groupby("author")[motif_col].apply(lambda x: ' '.join(x)).tolist()
    # references = data1[motif_col].apply(lambda x: ' '.join(x)).tolist()
    # hypotheses = data2[motif_col].apply(lambda x: ' '.join(x)).tolist()

    # Vectorize motifs using TF-IDF to create multidimensional embeddings
    vectorizer = TfidfVectorizer()
    ref_vectors = vectorizer.fit_transform(references).toarray()
    hyp_vectors = vectorizer.transform(hypotheses).toarray()

    # Compute the pairwise Euclidean distance matrix between distributions
    distance_matrix = pairwise_distances(ref_vectors, hyp_vectors, metric='euclidean')

    # Use the linear sum assignment to find the minimum cost matching
    row_ind, col_ind = linear_sum_assignment(distance_matrix)

    # Calculate EMD as the average minimum cost based on optimal assignment
    emd_distance = distance_matrix[row_ind, col_ind].sum() / len(row_ind)

    return emd_distance


def compute_emd_table_Hugo(data: pd.DataFrame, data_2: pd.DataFrame, motif_col: str) -> pd.DataFrame:
    """
    Compute EMD distances for all pairs `{name}` and `{name}2hugo` in the author column.
    
    :param data: Input DataFrame containing authors and motifs.
    :param author_col: Column name for authors.
    :param motif_col: Column name for motifs.
    :return: DataFrame with pairs and their corresponding EMD scores.
    """
    # Extract unique base names for pairs
    base_names = ['colette', 'daudet', 'dumas', 'maupassant', 'verne', 'zola']
    
    # Initialize a list to store results
    results = []
    
    # Iterate over base names and compute EMD for each pair
    for base_name in base_names:
        author1 = f"{base_name}2hugo"
        author2 = "Hugo"
        
        if author1 in data['author'].values:
            # Filter data for the two authors
            data1 = data[data['author'] == author1]
            data2 = hugo_para
            
            # Compute EMD
            emd_score = emd_score_from_motifs_2(data2, data1, group_col='author', motif_col=motif_col)
            
            # Append result
            results.append({'Pair': f"{author2} vs {author1}", 'EMD Score': emd_score})
    
    # Create a DataFrame from results
    emd_table = pd.DataFrame(results)
    return emd_table

# Example usage
emd_table_hVo2h = compute_emd_table_Hugo(data_a, hugo_para, motif_col="motif")
print(emd_table_hVo2h)

                      Pair  EMD Score
0     Hugo vs colette2hugo   0.225814
1      Hugo vs daudet2hugo   0.252923
2       Hugo vs dumas2hugo   0.193353
3  Hugo vs maupassant2hugo   0.242771
4       Hugo vs verne2hugo   0.157094
5        Hugo vs zola2hugo   0.170316

In [41]:
emd_table_hVo

                 Pair  EMD Score
0     Hugo vs colette   0.199654
1      Hugo vs daudet   0.169967
2       Hugo vs dumas   0.178175
3  Hugo vs maupassant   0.208862
4       Hugo vs verne   0.168215
5        Hugo vs zola   0.188561

In [42]:
emd_table_hVo2h

                      Pair  EMD Score
0     Hugo vs colette2hugo   0.225814
1      Hugo vs daudet2hugo   0.252923
2       Hugo vs dumas2hugo   0.193353
3  Hugo vs maupassant2hugo   0.242771
4       Hugo vs verne2hugo   0.157094
5        Hugo vs zola2hugo   0.170316

In [48]:
import numpy as np

In [50]:
np.mean(emd_table_hVo2h['EMD Score'])

0.20704491768764868

In [51]:
np.mean(emd_table_hVo['EMD Score'])

0.1855724381850007